ui = true
disable_mlock = true

storage "file" {
  path = "/openbao/file"
}

listener "tcp" {
  address         = "0.0.0.0:{{ openbao_ui_port }}"
  cluster_address = "0.0.0.0:{{ openbao_cluster_port }}"
  tls_disable     = 0
  tls_cert_file   = "/openbao/tls/openbao.crt"
  tls_key_file    = "/openbao/tls/openbao.key"
}

api_addr     = "{{ openbao_api_addr }}"
cluster_addr = "https://{{ ansible_host }}:{{ openbao_cluster_port }}"
log_level    = "info"
